{% load static %}
<!-- Include backend data here (in an invisible <div>) -->
<div id="jsonDataPermissions" 
style="display: none;" data-json="{{ Permissions }}"></div>

{% block bodyContent %}
<div class="row">
  <!-- Give a title for the form -->
  <h1 class="omegaFormHeader">
    <i class="bi bi-person-circle me-2"></i>USER REGISTRATION
  </h1>
</div>

<div class="row">
  <!-- Make a POST form (no caching) -->
  <form method="POST" autocomplete="off" id="omegaRegForm">{% csrf_token %}
    <table class="table table-borderless tableCentered" 
    style="min-width: 48%;">
      <col style="max-width: 20%;">
      <col style="max-width: 25%;">
      <col style="max-width: 20%;">
      <col style="max-width: 25%;">
      
      <tr>
        <td class="omegaLabel"> New ID:</td>
        <td style="min-width: 3.5cm;">
          <input class="form-control omegaField" 
          style="width: 100%;" name="newID" id="id_newID">
        </td>
        <td class="omegaLabel" 
        style="padding-left: 45px;">Email:</td>            
        <td style="min-width: 3.5cm;">
          <input class="form-control omegaField"
          style="width: 100%;" name="email" id="id_email">
        </td>
      </tr>
      {% for error in omegaRegistrationForm.newID.errors %}
      <tr>
        <td colspan="4" class="omegaWarning">{{error}}</td>
      </tr>
      {% endfor %}
      {% for error in omegaRegistrationForm.email.errors %}
      <tr>
        <td colspan="4" class="omegaWarning">{{error}}</td>
      </tr>
      {% endfor %}
      
      <tr>
        <td class="omegaLabel">Password:</td>
        <td style="min-width: 3.5cm;">
          <input class="form-control omegaField" type="password"
          style="width: 100%;" name="newPwd" id="id_newPwd">
        </td>
        <td class="omegaLabel" 
        style="padding-left: 45px;">Again:</td>            
        <td style="min-width: 3.5cm;">
          <input class="form-control omegaField" type="password"
          style="width: 100%;" name="newPwd2" id="id_newPwd2">
        </td> 
      </tr>
      {% for error in omegaRegistrationForm.newPwd.errors %}
      <tr>
        <td colspan="4" class="omegaWarning">{{error}}</td>
      </tr>
      {% endfor %}
      
      <tr>
        <td class="omegaLabel">Company:</td>
        <td style="min-width: 3.5cm;">
          <input class="form-control omegaField"
          style="width: 100%;" name="companyName" id="id_companyName">
        </td>
        <td class="omegaLabel" 
        style="padding-left: 45px">Supplier:</td>            
        <td style="min-width: 3.5cm;">
          <input class="form-control omegaField"
          style="width: 100%;" name="supplierName" id="id_supplierName">
        </td>    
      </tr> 
      {% for error in omegaRegistrationForm.companyName.errors %}
      <tr>
        <td colspan="4" class="omegaWarning">{{error}}</td>
      </tr>
      {% endfor %}
      {% for error in omegaRegistrationForm.supplierName.errors %}
      <tr>
        <td colspan="4" class="omegaWarning">{{error}}</td>
      </tr>
      {% endfor %}

      <tr>
        <td class="omegaLabel">Role Flag:</td>      
        <td>
          <div class="d-flex flex-column justify-content-between">
            <select class="form-select omegaField centered"
            style="width: 100%; margin: 3px 0;"
            id="id_isOpr" name="isOpr"></select>
            <select class="form-select omegaField centered"
            style="width: 100%; margin: 3px 0;"
            id="id_isSpl" name="isSpl"></select>
            <select class="form-select omegaField centered"
            style="width: 100%; margin: 3px 0;"
            id="id_isCpn" name="isCpn"></select>                          
          </div>
        </td>
        <td class="omegaLabel"
        style="padding-left: 45px">Permission Level:</td>
        <td>
          <select class="form-select omegaField centered"
          style="width: 100%;" 
          id="id_permission" name="permission"></select>
        </td>
      </tr>
      
      <tr>
        <td class="omegaLabel">Vessel List:</td>          
        <td colspan="3">
          <textarea class="form-control omegaField"
          style="width: 100%; height: 4cm;"
          name="vesselList" id="id_vesselList"></textarea>
        </td>
      </tr>   
      {% for error in omegaRegistrationForm.non_field_errors %}
      <tr>
        <td colspan="4" class="omegaWarning">{{error}}</td>          
      </tr>
      {% endfor %}
      
      <tr>
        <td colspan="4">
          <button class="btn omegaRegButton" type="submit" 
          style="width: 100%;" name="registerUser">Register</button>
        </td>
      </tr>
      
    </table>
  </form>
</div>
{% endblock bodyContent %}



<!-- Import JS Scripts -->
<script src="{% static 'js/omegaRegFunctions.js' %}" defer></script>
