.centered {
  text-align: center;
}
.tableCentered {
  margin-left: auto;
  margin-right: auto;
}
table td {
  vertical-align: middle;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.baseButton {
  border: None;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
}
.adminBox {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) translateX(0);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
.adminFormHeader {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #3f88e9;
  text-align: left;
  margin-left: 0;
  margin-top: 0.5cm;
  margin-bottom: 0;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px) translateX(0);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
.adminTableTh {
  text-align: center;
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
}
.adminTableTd {
  text-align: center;
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  padding: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.adminWarningFont {
  text-align: center;
  font-weight: 500;
  padding: 0.5rem;
  color: #f15525;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: #f8d7da;
  border-radius: 0.25rem;
}
