
.headerPart {
  background-color: white;
  height: 2cm;
}
.mainBody {
  margin-top: 3cm;
  min-height: 100vh;
  height: 100%;
}
ulHeader {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.tableBordered {
  border-collapse: collapse;
  border: 1px solid black;
}

formTitle {
  font-weight: bold;
  font-size: 20px;
}
.rowTitle {
  font-weight: bold;
  font-size: 16px;
  background-color: #FCBA12;
}
.columnTitle {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.centeredForm {
  text-align: center;
}
.rowHoverStyle tbody tr:hover {
  background-color: darkgray;
}

.inputForm {
  font-size: 14px;
  text-align: center;
  height: 0.8cm;
  width: 96%;
}
.textLastLeft {
  text-align-last: left;
}
.centeredCell {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.centeredWidth {
  margin-left: auto;
  margin-right: auto;
}
.fullWidth {
  width: 100%;
}
table tr td {
  width: 100%;
}

.cellWithBorder {
  font-size: 14px;
  border: 1px black;
}
.bordered {
  border: 1px black;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.centered0 {
  display: block;
  text-align: center;
}


.buttonSubmit {
  background-color: cadetblue;
}
.buttonChange {
  background-color: purple;
}
.buttonDelete {
  background-color: red;
}

.textWarning {
  font-weight: bolder;
  font-size: 18px;
  color: red;
  text-align: center;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  height: 30px;
  color: #342809;
}
h2 {
  align-content: center;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  height: 50px;
}
