.centered {
  text-align: center;
}
.tableCentered {
  margin-left: auto;
  margin-right: auto;
}
table td {
  vertical-align: middle;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.baseButton {
  border: None;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
}
.omegaFormHeader {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #3f88e9;
  text-align: center;
  margin-top: 2cm;
  margin-bottom: 10px;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px) translateX(0);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
.omegaLabel {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 0.85rem;
}
.omegaField {
  font-family: "Times New Roman", sans-serif;
  font-size: 0.85rem;
}
.omegaWarning {
  text-align: center;
  padding: 0.5rem;
  color: #f15525;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
}
.omegaRowTitle {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 0.85rem;
  background-color: lightblue;
}
.omegaRegButton {
  border: None;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
  background-color: #008000;
  font-weight: bold;
  font-size: 1.1rem;
}
.omegaModButton {
  border: None;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
  background-color: #800080;
  font-weight: bold;
  font-size: 1.1rem;
}
.omegaDelButton {
  border: None;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
  background-color: #ff0000;
  font-weight: bold;
  font-size: 1.1rem;
}
